<tr>
    <th>Actions</th>
    <td>
        <ul>
            {% for action in project.actions %}
                <li>{{ action.description }} - {{ action.createdAt|date('d/m/Y h:i:s') }}</li>
            {% else %}
                <li>Pas d'actions effectuées</li>
            {% endfor %}
        </ul>
    </td>
</tr>